@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?irsauc');
  src:  url('fonts/icomoon.eot?irsauc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?irsauc') format('truetype'),
    url('fonts/icomoon.woff?irsauc') format('woff'),
    url('fonts/icomoon.svg?irsauc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-close:before {
  content: "\ea0d";
}


/*font-family: 'Francois One', sans-serif;
font-family: 'Droid Sans', sans-serif;*/

/*Color secundario: #3268AC;
Color principal: #1F3073;
Color naranja: #ED8924*/

body{
	margin: 0;
}

#fondo{
	width: 100%;
	height: 100%;  
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1; 
	background-image: url(assets/fondo.jpg) ;
	background-repeat:no-repeat;
	background-position: left top;
	/* background-attachment: fixed; removed for Android */
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

header{
	height: 70px;
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	  background-image: -moz-linear-gradient(top, #FFF, #E0E0E0);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E0E0E0));
	  background-image: -webkit-linear-gradient(top, #FFF, #E0E0E0);
	  background-image: -o-linear-gradient(top, #FFF, #E0E0E0);
	  background-image: linear-gradient(to bottom, #FFF, #E0E0E0);
	  background-repeat: repeat-x;
	  border-color: #FFF #FFF #E0E0E0;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  opacity: .9;
}

h2{
	font-family: 'Francois One', sans-serif;
	color: #1F3073;
	font-size: 22px;
}

h3{
	font-family: 'Francois One', sans-serif;
	color: #1F3073;
	font-size: 22px;
}

#faq{
	padding-top: 90px;
}

#logotipo1{
	float: left;
}

#logotipo1 img{
	margin: 10.5px 0 0 2vw;
	padding-left: .75%;
	padding-right: .75vw;
	padding-bottom: 6px;
}

#logotipo1 img:hover{
	border-bottom: 4px solid orange;
}

nav{
	text-align: right;
	margin: 10px 2vw 0 0;
}

ul{
	margin: 0;
}

ul li{
	display: inline-block;
	padding-bottom: 8px;
}

li a{
	font-family: 'Francois One', sans-serif;
	font-size: 17px;
	color: #1F3073;
	text-decoration: none;
	padding-left: .5vw;
	padding-right: .5vw;
}

ul li:hover{
	border-bottom: 7px solid orange;
	color: white;
}

.nav{
	vertical-align: middle;
	padding-right: .5vw;
}

#portada{
	padding-top: 8%; /*103px*/
}

#logotipo2{
	width: 810px;
	margin: auto;
}

#logotipo2 h1{
	text-align: right;
	margin: 0;
	position: relative;
	top: -38px;
	font-family: 'Francois One', sans-serif;
	color: white;
	font-size: 35px;
	font-weight: normal;
}

.marco_citas{
	height: auto;
	width: 647px;
	background-color: rgba(0,0,0,.7);
	margin: 1.4% auto auto auto; /*15px*/
	border-radius: 1em;
}

#acomodo_cita{
	padding:10px 19px 13px 19px;
}

#titulo_cita{
	margin: 0;
	font-size: 28px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;
	text-align: center;
}

#cita{
	text-align: left;
	font-size: 17px;
	color: #FFF;
	font-family: 'Droid Sans', sans-serif;
}

#cta_contenedor{
	width: 1245px; /*90%*/
	margin: 1.7% auto 0 auto;
}

#redes1{
	display: inline-block;
	padding-top: 15px;
}

#redes1 p{
	margin: 0 0 10px 0;
	text-align: left;
	font-size: 24px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;	
}

#redes1 a{
	padding-right: 5px;
}

#cta_contenedor2{
	display: inline-block;
	float: right;
}

#cta_contenedor3{
	float: right;
}

#cta_contenedor3 div{
	text-align: center;
}

#cta_contenedor3 a{
	margin: 0;
}

#cta_contenedor2 p{
	margin-top: 0;
	text-align: center;
	font-size: 24px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;
}

#cta{
	letter-spacing: .05em;
	cursor: pointer;
	text-align: center;
	padding: 11px 35px;
	border-radius: 1em;
	font-size: 24px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;
	text-decoration: none;
	background-color: #ED8924;
	border: 6px solid #BA5E20;
}

#cta:hover{
	border: 6px solid #A5521B;
}

.contenedor_principal{
	width: 971px;
	margin:0 auto;
}

#sobre_mi{
	padding-top: 90px;
}

.fondo_gris{
	background-color: #E0E0E0;
	border-radius: 1em;
	padding: 26px 54px;
}

.titulo_seccion img{
	vertical-align: middle;
	width: 79px;
}

.titulo_seccion h2{
	font-family: 'Francois One', sans-serif;
	font-size: 33.5px;
	color: #1F3073;
	display: inline-block;
	margin:0;
	bottom: -10px;
	position: relative;
	font-weight: normal;
}

.titulo_seccion h3{
	font-family: 'Francois One', sans-serif;
	font-size: 33.5px;
	color: #1F3073;
	display: inline-block;
	margin:0;
	bottom: -10px;
	position: relative;
	font-weight: normal;
}

#foto_perfil{
	width: 252px;
	border-radius: 1em;
	margin-top: 22px;
	margin-right: 30px;
}

#cuadro_blanco{
	background-color: white;
	width: 500px;
	margin-right: 20px;
	display: inline-block;
	border-radius: .5em;
	padding: 16px;
	box-shadow: 5px 5px 15px #888;
	float: right;
	top: -45px;
	position: relative;
}

.texto{
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	color: #333;
}

#modulo{
	text-align: right;
	display: inline-block;
	padding-bottom: 15px;
	width: 100%;
	top: -15px;
	position: relative;
}

.botones_azules{
	width: 167px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 5px 0;
	margin: 0px 0px 0px 35px;
	border-radius: .5em;
	font-size: 22px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;
	background-color: #1F3073;
}

#portafolio{
	padding-top: 90px;
}

.cuadro_blanco2{
	background-color: white;
	border-radius: 1em;
	padding: 48px;
	box-shadow: 5px 5px 15px #888;
	position: relative;
	margin-top: 17px;
	text-align: center;
}

.cuadro_blanco2 article{
	display: inline-block;
	margin: 10px;
	height: 167px;
}

.cuadro_blanco2 p{
	text-align: left;
}

div.previoPortafolio {
    display: block;
    filter: saturate(100%);
    height: 167px;
    position: relative;
    width: 167px;
    /*transition: background .2s linear;*/
}

/*div.previoPortafolio:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 167px;
	height: 167px;
	border-radius: 1.5em;
	background: none;
    transition: background .2s linear;
}

div.previoPortafolio:hover:before {
	background: rgba(0, 138, 184, .5);
}*/

div.previoPortafolio:hover {
	filter: saturate(125%);
}

div.previoPortafolio img {
	width: 167px;
	height: 167px;
	border-radius: 1.5em;
    cursor: pointer;
    transition: 0.3s
}

div.previoPortafolio img:hover{
	box-shadow: 6px 6px 15px #888;
}

.column {
  float: left;
  width: auto;
  padding-right: 8px;
}

.column img{
	width: 80px;
	height: 80px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
}

.caption-container p{
	text-align: center;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  display: block;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
  border-radius: .5em;
}

.active,
.demo:hover {
  opacity: 1;
}

.texto2 p{
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	color: #333;
	text-align: center;
	font-weight: bold;
}

#contacto{
	padding-top: 90px;
	text-align: left;
}

.cuadro_blanco3{
	background-color: white;
	border-radius: 1em;
	padding: 48px;
	box-shadow: 5px 5px 15px #888;
	position: relative;
	margin-top: 17px;
}

#redes_footer{
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

#redes2 p{
	margin: 0 0 5px 0;
	text-align: left;
	font-size: 23px;
	color: #656565;
	font-family: 'Francois One', sans-serif;
}

#redes2 a{
	display: inline-block;
	margin: 0 0 5px 0;
	text-align: left;
	font-size: 18.5px;
	color: #656565;
	font-family: 'Francois One', sans-serif;
	padding-right: 15px;
	text-decoration: none;
}

#redes2 img{
	vertical-align: middle;
	width: 32px;
	padding-right: 3px;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}


.menu-button{
	width: 140px;
	height: 40px;
	line-height: 40px;
	display: none;
	font-size: 20px;
	text-align: center;
	color: #1F3073;


	position: absolute;
	right: 0;
	top: 0;
	padding-right: 18px;
	margin-top: 16px;

}

.menu-button p{
	font-family: 'Francois One', sans-serif;
	font-size: 17px;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	padding-right: 35px;
}


@media screen and (max-width: 1280px){

	#cta_contenedor{
		width: 90%;
	}

}

@media screen and (max-width: 987px){

	#fondo{
		height: 1380px;
	}

	.contenedor_principal{
		width: 100%;
	}

	.fondo_gris{
		border-radius: 0;
	}


	#foto_perfil{
		width: 25%;
	}

	#cuadro_blanco{
		width: 65%;
		margin: 0;
	}

	#modulo{
		text-align: center;
		top: 0;
	}

	.botones_azules{
		margin: 0px 15px;
	}

	.cuadro_blanco2{
		padding: 24px;
	}

	.cuadro_blanco2 article{
		display: inline-block;
		margin: 5px;
	}

	div.previoPortafolio {
	    height: 150px;
	    width: 150px;
	}

	div.previoPortafolio img {
		width: 150px;
		height: 150px;
	}

	#redes_footer{
		text-align: left;
	}

}

@media screen and (max-width:800px){

	#portada{
		padding-top: 103px;
	}

	#logotipo2{
		width: 90%;
	}

	#cta_contenedor{
		margin: 4.5% auto 0 auto;
	}

	#foto_perfil{
		width: 200px;
		margin-right: 10px;
	}

	#cuadro_blanco{
		background-color: white;
		width: 420px;
		margin-right: 0;
	}

	.fondo_gris{
		padding: 26px 40px;
	}

	.botones_azules{
		margin: 0 25px;
	}

}

@media screen and (max-width:767px){

	#fondo{
		height: 1200px;
	}

	#logotipo1{
		float: inherit;
	}

	#logotipo1 img:hover{
		border-bottom: 0px solid orange;
	}

	.menu-button{
		display: inline-block;
	}

	.menu{
		text-align: center;
		height: auto;
		position: fixed;
		width: 100%;
		z-index: 1;
		background-color: #fff;
		  background-image: -moz-linear-gradient(top, #FFF, #E0E0E0);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E0E0E0));
		  background-image: -webkit-linear-gradient(top, #FFF, #E0E0E0);
		  background-image: -o-linear-gradient(top, #FFF, #E0E0E0);
		  background-image: linear-gradient(to bottom, #FFF, #E0E0E0);
		  background-repeat: repeat-x;
		  border-color: #FFF #FFF #E0E0E0;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  opacity: .9;
		  margin: 0;
		display: none;
		transition: 2s;
	}

	.menu.active{
		display: block;
	}

	ul{
		padding: 0;
	}

	ul li{
		padding: 8px 0;
		margin: 0 3%;
	}

	ul li img{
		width: 35px;
	}


	#logotipo2 img{
		width: 90%;
		margin: auto;
	}

	#logotipo2 h1{
		top: -28px;
		font-size: 25px;
	}

	.marco_citas{
		width: 80%;
	}

	#cta_contenedor{
		width: auto;
		margin: 3% 3% 0 3%;
	}

	#cta_contenedor p{
		font-size: 18px;
	}

	#redes1 img{
		width: 35px;
	}

	#cta{
		padding: 9px 25px;
		font-size: 20px;
	}

	#foto_perfil{
		display: none;
	}

	#cuadro_blanco{
		margin: 17px auto;
		float: inherit;
		position: inherit;
		width: 94%;
		padding: 3%;
	}

	.botones_azules{
		margin: 5px 25px;
	}

	#redes_footer{
		text-align: center;
	}

	/*#redes2 p{
		text-align: left;
	}*/

	#redes2 a{
		padding: 3px 7.5px;
		margin-left: auto;
		margin-right: auto;
	}

	.mySlides img{
		width: 320px;
		max-width: 100%;
	}

@media screen and (max-width:500px){

	#fondo{
		height: 1000px;
	}

	#logotipo1 img{
		width: 60%;
		max-width: 216px;
	}

	.menu-button{
		padding-right: 3px;
	}

	.menu-button p{
		padding-right: 20px;
	}

	#portada{
		padding-top: 93px;
	}

	#logotipo2 img{
		display: block;
	}

	#logotipo2 h1{
		display: block;
		position: inherit;
		text-align: center;
	}

	.marco_citas{
		width: 95%;
		margin-top: 25px;
	}

	#redes1{
		display: block;
	}

	#redes1{
		text-align: center;
	}

	#redes1 p{
		text-align: center;
	}

	#cta_contenedor2{
		float: inherit;
		width: 100%;
		margin-top: 10px;
	}

	#cta_contenedor3{
		float: inherit;
		width: 100%;
	}

	.fondo_gris{
		padding: 26px;
	}

	.titulo_seccion h2{
		font-size: 23.5px;
	}

	.titulo_seccion h3{
		font-size: 23.5px;
	}

	.titulo_seccion img{
		width: 55px;
	}

	#cuadro_blanco{
		width: auto;
		padding: 6%;
	}

	.cuadro_blanco2{
		padding: 6%;
	}

	.cuadro_blanco3{
		padding: 6%;
	}

	.cuadro_blanco2 article{
		margin: 10px;
		height: 80px;
	}

	div.previoPortafolio {
	    height: 80px;
	    width: 80px;
	}

	div.previoPortafolio img {
		width: 80px;
		height: 80px;
		border-radius: .75em;
	}

	.mySlides img{
		width: 320px;
	}

@media screen and (max-width:360px){

	#fondo{
		height: 700px;
	}

	#redes2 a{
		display: block;
		text-align: center;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 220dpi){

	#fondo{
		background-image: url(assets/img_2x/fondo_2x.jpg) ;
	}
}