/*font-family: 'Francois One', sans-serif;
font-family: 'Droid Sans', sans-serif;*/

/*Color secundario: #3268AC;
Color principal: #1F3073;
Color naranja: #ED8924*/

body{
	margin: 0;
	background-color: #1F3073;
	background: url(assets/fondo.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

header{
	height: 70px;
	position: fixed;
	width: 100vw;
	background-color: #fff;
	  background-image: -moz-linear-gradient(top, #FFF, #E0E0E0);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E0E0E0));
	  background-image: -webkit-linear-gradient(top, #FFF, #E0E0E0);
	  background-image: -o-linear-gradient(top, #FFF, #E0E0E0);
	  background-image: linear-gradient(to bottom, #FFF, #E0E0E0);
	  background-repeat: repeat-x;
	  border-color: #FFF #FFF #E0E0E0;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  opacity: .95;
}

#logotipo1{
	float: left;
}

#logotipo1 img{
	padding: 10.5px 0 0 3vw;
}

nav{
	text-align: right;
	margin: 10px 1vw 0 0;
}

ul{
	margin: 0;
}

ul li{
	display: inline-block;
	padding-bottom: 8px;
}

li a{
	font-family: 'Francois One', sans-serif;
	font-size: 17px;
	color: #1F3073;
	text-decoration: none;
	padding-left: .5vw;
	padding-right: .5vw;
}

ul li:hover{
	border-bottom: 7px solid orange;
	color: white;
}

.nav{
	vertical-align: middle;
	padding-right: .5vw;
}

#portada{
	padding-top: 10%; /*103px*/
}

#logotipo2{
	width: 810px;
	margin: auto;
}

#logotipo2 p{
	text-align: right;
	margin: 0;
	position: relative;
	top: -38px;
	font-family: 'Francois One', sans-serif;
	color: white;
	font-size: 35px;
}

.marco_citas{
	height: auto;
	width: 647px;
	background-color: rgba(0,0,0,.7);
	margin: 1.4% auto auto auto; /*15px*/
	border-radius: 1em 1em 1em 1em;
}

#acomodo_cita{
	padding:17px 19px 33px 19px;
}

#titulo_cita{
	margin: 0;
	font-size: 30px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;
	text-align: center;
}

#cita{
	text-align: left;
	font-size: 18px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;
}

#redes1{
 padding-left: 60px;
 padding-top: 4%; /*25px*/
}

#redes1 p{
	margin-bottom: 10px;
	text-align: left;
	font-size: 24px;
	color: #FFF;
	font-family: 'Francois One', sans-serif;	
}

#redes1 a{
	padding-right: 5px;
}